{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/remibernard/dev/classes/M_S2_WE4A/sites/project/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/Users/remibernard/dev/classes/M_S2_WE4A/sites/project/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
